body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
}

.AppLayout__content {
  width: 100%;
  margin: 0;
}

.AppLayout__splash {
  height: 100%;
  padding-top: 50%;
  text-align: center;
}

.AppLayout__loadingIcon {
  height: 100px !important;
  width: 100px !important;
  margin-left: -50px !important;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.AppLayout__header.ant-layout-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0 20px;
}

.PlantView {
  padding: 15px;
}

.PlantView__firstRow {
  display: flex;
  justify-content: space-between;
}

.PlantView__wiki {
  height: 20px;
  margin: 0px 5px 0px 0px;
}

.PlantView__asn {
  height: 20px;
}

.PlantView__schema {
  margin-top: 15px;
}

.PlantView__reactors {
}

.PlantView__cooling {
  background: #2f7bd9;
  margin-left: 3px;
  margin-top: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.ReactIndicator {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;

  border: solid 1px;
  border-radius: 20% 20% 0px 0px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 60px;
  font-size: 9pt;
}

.ReactIndicator__number {
  background: white;
  position: absolute;
  bottom: -1px;
  left: -1px;
  line-height: 11pt;
  border: solid 1px;
}

.MixView__header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.MixView__header__item {
  width: 16.666%;
  height: 35px;
  color: white;
  text-align: center;
  font-size: 8pt;
  padding: 0px 0px 0px 0px;
  word-wrap: normal;
}

.MixView__header__item__small {
  font-size: 7pt;
}

.MixView_chart {
  width: 100%;
  height: 200px;
}

.MixView__sliderContainer {
  width: 100%;
  padding-left: 4px;
  padding-right: 14px;
}


