body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
}

.AppLayout__content {
  width: 100%;
  margin: 0;
}

.ReactIndicator {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;

  border: solid 1px;
  border-radius: 20% 20% 0px 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ReactIndicator__label {
  font-size: 9pt;
}

/* .leaflet-container {
  height: 100%;
} */
